<main class="w-scree h-screen flex justify-center items-center flex-col bg-slate-400 relative text-center">
  <div class="absolute w-1/2 bg-slate-700 right-0 h-full"></div>
  <h1 class="font-bold text-2xl text-white relative"><span class="text-[#DD0031]">Angular</span> <span
      class="text-[#01B7D6]">&nbsp;&nbsp;&nbsp;Tailwind</span></h1>
  <h1 class="font-bold text-2xl text-white relative">Template</h1>
  <div class="flex justify-center items-center space-x-4 relative z-10">
    <a href="https://angular.io/" class="hover:scale-110 transition-all">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" class="w-12 drop-shadow-md">
    </a>
    <a href="https://tailwindcss.com/" class="hover:scale-110 transition-all">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png"
        alt="Tailwind" class="w-12 drop-shadow-md">
    </a>
  </div>
</main>